{% extends 'myapp/base.html' %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center text-primary">
        LOGIN
    </h2>
        <form method="post">
                {% csrf_token %}
                    {% for field in form %}
                        
                        <div class="form-group">
                                <label>{{field.label}}</label>
                                <input type="{%if field.label == 'Password'%}password{%else%}input{%endif%}" name={{ field.name }} class="form-control">
                              </div>
                              <div class="text-danger"> {{field.errors}}</div>
                    {% endfor %}
            <button class="btn btn-primary" type="submit">Login</button><br/><br/>
            <a href="{%url 'signup'%}">Not yet registered ?  Click here</a>
            </form>
</div>
{% endblock %}