{% extends 'myapp/base.html' %}

{% block content %}

<div class="">
    <div class="container">
        <div class="row my-5 py-4 text-white px-4 bg-info h-100">
            <div class="col-md-12 my-auto">
                <h2><b>{{entry.name}}</b></h2>
                <hr>
                <h4 class="text-white">{{entry.date}}</h4>
                <p>{{entry.description}}</p>
                <button onclick="window.location='{% url 'dashboard' %}'" class="btn btn-secondary">Go Back</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}